.gitignore
/ap/EstruturasDeRepeticao/build/
/ap/EstruturasDeRepeticao/nbproject/private/
/ap/ExerciciosN1/dist/
/ap/ExerciciosN2/build
/ap/ExerciciosN2/build/viftg/python/PentestPython/nb-configuration.xml
/ap/ExerciciosN2/build.xml
/ap/ExerciciosN2/manifest.mf
/ap/ExerciciosN2/nbproject
/ap/ExerciciosN2/nbproject/private/
/ap/ExerciciosN2/test
/ap/JavaApplication2/build/
/ap/JavaApplication2/nbproject/private/
/ap/UriEstruturaCondicional/build/
/ap/UriEstruturaCondicional/nbproject/private/
/biblioteca/acesso-wifi.png
/es/simulacao-areas-swebok/venda-de-animais/prototipos/modelo1/nbproject/private/
/fac/MacGyver/build/
/fac/MacGyver/nbproject/private/
/fac/SisNumPosicional/build/
/fac/SisNumPosicional/nbproject/private/
/lap/UriEstruturaCondicional2/nbproject/private/private.properties
/lap/UriEstruturaCondicional2/nbproject/private/private.xml
/lap/UriEstruturaCondicional/build/
/lap/UriEstruturaCondicional/dist/
/lap/UriEstruturaCondicional/nbproject/private/
/lap/UriProvaN1/build.xml
/lap/UriProvaN1/nbproject/private/private.xml
/me/UriEstruturaCondicional2/build/
/me/UriEstruturaCondicional2/nbproject/private/
/niv/alg/Exercicios/ExerciciosNiv/build/
/niv/alg/Exercicios/ExerciciosNiv/nbproject/private/
/viftg/python/PentestPython/setup.py
/ap/ExerciciosN2/dist/
/me/bolo-de-pote/mesa1/BoloDePoteMesa1/nbproject/private/
/me/bolo-de-pote/mesa2/BoloNoPoteMesa2/nbproject/private/
/me/bolo-de-pote/mesa2/BoloNoPoteMesa2/build/
/lap/Ex3lista/nbproject/private/
/lap/Ex3lista/build/
/lap/UriVetores/nbproject/private/
/lap/UriVetores/build/
/modulo2/poo/ProjetoCarro/nbproject/private/
/modulo2/poo/ProjetoCarro/build/
/modulo2/poo/lista-de-exercicios-1/ex1/ProjetoPessoa/build/
/modulo2/poo/lista-de-exercicios-1/ex1/ProjetoPessoa/build.xml
/modulo2/poo/lista-de-exercicios-1/ex1/ProjetoPessoa/dist/
/modulo2/poo/lista-de-exercicios-1/ex1/ProjetoPessoa/manifest.mf
/modulo2/poo/lista-de-exercicios-1/ProjetoPessoa/nbproject/
/modulo2/poo/lista-de-exercicios-1/ProjetoPessoa/test
