.gitignore
biblioteca/acesso-wifi.png
/ap/ExerciciosN1/dist/
/ap/UriEstruturaCondicional/nbproject/private/
/ap/UriEstruturaCondicional/build/
/niv/alg/Exercicios/ExerciciosNiv/nbproject/private/
/niv/alg/Exercicios/ExerciciosNiv/build/
/lap/UriEstruturaCondicional/nbproject/private/
/lap/UriEstruturaCondicional/build/
/lap/UriEstruturaCondicional/dist/
/lap/UriEstruturaCondicional2/nbproject/private/private.xml
/fac/SisNumPosicional/nbproject/private/
/fac/SisNumPosicional/build/
/fac/MacGyver/nbproject/private/
/fac/MacGyver/build/
/ap/EstruturasDeRepeticao/nbproject/private/
/ap/EstruturasDeRepeticao/build/
/ap/ExerciciosN2/nbproject/private/
/ap/ExerciciosN2/build/viftg/python/PentestPython/nb-configuration.xml
viftg/python/PentestPython/setup.py
/ap/JavaApplication2/nbproject/private/
/ap/JavaApplication2/build/
/ap/ExerciciosN2/build
/ap/ExerciciosN2/build.xml
/ap/ExerciciosN2/manifest.mf
/ap/ExerciciosN2/nbproject
/ap/ExerciciosN2/test
/me/UriEstruturaCondicional2/nbproject/private/
/me/UriEstruturaCondicional2/build/
/es/simulacao-areas-swebok/venda-de-animais/prototipos/modelo1/nbproject/private/
