.gitignore
/OpaMundo/nbproject/private/
/lap/OpaMundo/build/
/ap/20190904/Aula_ADS1/nbproject/private/
/ap/20190904/Aula_ADS1/build/
/ap/20190904/MeuPrimeiroPrograma/nbproject/private/
/ap/20190904/Aula_ADS1/dist/
/ap/20190904/EstruturaSequencial/nbproject/private/
/lap/Aula01/nbproject/private/
/lap/Aula01/build/
/ExerciciosMath/nbproject/private/
/ap/20190911/ExerciciosMath/nbproject/private/
/ap/20190911/ExerciciosMath/build/
/lap/ESequencial/nbproject/private/
/lap/TextWidth/nbproject/private/
/niv/alg/Imc/nbproject/private/
/niv/alg/Imc/build/
/lap/TextWidth/build/
/lap/Util/nbproject/private/
/ap/ExerciciosN1/nbproject/private/
/ap/ExerciciosN1/build/